In [1]:
import pandas as pd
import numpy as np

In [2]:
# 使用pandas的read_excel方法读取.xlsx文件
df1 = pd.read_excel('./竞赛发布数据/表1-患者列表及临床信息.xlsx', engine='openpyxl')
df2 = pd.read_excel('./竞赛发布数据/表2-患者影像信息血肿及水肿的体积及位置.xlsx', engine='openpyxl')
df3 = pd.read_excel('./竞赛发布数据/表3-患者影像信息血肿及水肿的形状及灰度分布.xlsx', engine='openpyxl')
df4 = pd.read_excel('./竞赛发布数据/表4-答案文件.xlsx', engine='openpyxl')
df5 = pd.read_excel('./竞赛发布数据/附表1-检索表格-流水号vs时间.xlsx', engine='openpyxl')

In [3]:
# 从df1中提取"ID"和"发病到首次影像检查时间间隔"两列
subset_df1 = df1[["ID", " "]]

# 从df2中提取"ID", "首次检查流水号"和"HM_volume"三列
subset_df2 = df2[["ID", "HM_volume", "HM_volume1", "HM_volume2", "HM_volume3", "HM_volume4", "HM_volume5", "HM_volume6", "HM_volume7", "HM_volume8"]]

# 使用ID列合并两个数据子集
new_df = subset_df1.merge(subset_df2, on="ID")
new_df.rename(columns={'HM_volume': 'HM_volume0'}, inplace=True)


new_df

,ID,发病到首次影像检查时间间隔,HM_volume0,HM_volume1,HM_volume2,HM_volume3,HM_volume4,HM_volume5,HM_volume6,HM_volume7,HM_volume8
0,sub001,2.5,69714,74902.0,70952.0,62831.0,44029.0,NaN,NaN,NaN,NaN
1,sub002,3.0,47500,52271.0,47748.0,13055.0,20.0,NaN,NaN,NaN,NaN
2,sub003,2.0,86396,106042.0,103263.0,NaN,NaN,NaN,NaN,NaN,NaN
3,sub004,1.0,45498,39877.0,16622.0,8441.0,NaN,NaN,NaN,NaN,NaN
4,sub005,5.0,14832,24472.0,25477.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
155,sub156,5.5,32559,35138.0,34241.0,14377.0,NaN,NaN,NaN,NaN,NaN
156,sub157,0.5,18150,37650.0,140688.0,123926.0,NaN,NaN,NaN,NaN,NaN
157,sub158,2.8,27969,27071.0,24119.0,3647.0,NaN,NaN,NaN,NaN,NaN
158,sub159,3.0,53154,126642.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,sub160,4.0,49019,100470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
subset_df3 = df5[["ID", "入院首次检查时间点",'随访1时间点','随访2时间点','随访3时间点','随访4时间点','随访5时间点','随访6时间点','随访7时间点','随访8时间点','随访9时间点','随访10时间点','随访11时间点','随访12时间点']]
subset_df3.rename(columns={"入院首次检查时间点": '随访0时间点'}, inplace=True)
subset_df3

C:\Users\Yummy\AppData\Local\Temp\ipykernel_29456\3711708177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df3.rename(columns={"入院首次检查时间点": '随访0时间点'}, inplace=True)

,ID,随访0时间点,随访1时间点,随访2时间点,随访3时间点,随访4时间点,随访5时间点,随访6时间点,随访7时间点,随访8时间点,随访9时间点,随访10时间点,随访11时间点,随访12时间点
0,sub001,2016-12-12 23:32:54,2016-12-13 05:19:00,2016-12-18 09:09:24,2016-12-23 16:47:09,2016-12-30 14:35:12,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,sub002,2016-04-06 21:21:03,2016-04-07 09:16:27,2016-04-09 15:34:22,2016-04-25 10:22:02,2016-05-23 09:32:34,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,sub003,2016-04-13 01:18:17,2016-04-13 08:49:38,2016-04-14 14:54:02,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,sub004,2016-12-15 22:53:41,2016-12-16 14:52:08,2016-12-19 09:44:24,2016-12-25 09:23:45,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,sub005,2016-12-22 13:18:48,2016-12-23 10:46:51,2016-12-26 10:15:23,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,sub156,2020-03-06 14:33:56,2020-03-07 09:56:51,2020-03-11 14:40:53,2020-03-18 14:22:58,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
156,sub157,2020-10-09 19:35:00,2020-10-09 20:27:00,2020-10-10 02:12:00,2020-10-10 15:09:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
157,sub158,2020-04-10 17:40:00,2020-04-11 09:15:00,2020-04-13 14:10:00,2020-04-23 11:31:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
158,sub159,2020-02-18 15:29:00,2020-02-19 15:01:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
159,sub160,2020-08-21 22:32:00,2020-08-22 12:01:00,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [5]:
# import pandas as pd

# # 假设 df1 和 df2 已经被读取

# # 透视 df1 和 df2
df1_melted = new_df.melt(id_vars=["ID"], 
                      value_vars=[f"HM_volume{i}" for i in range(0, 9)],
                      var_name="Visit", value_name="HM_volume")

df2_melted = subset_df3.melt(id_vars=["ID"], 
                      value_vars=[f"随访{i}时间点" for i in range(0, 13)],
                      var_name="Visit", value_name="Date")

# # 对齐 Visit 列的名称
df1_melted["Visit"] = df1_melted["Visit"].str.replace("HM_volume", "随访").astype(str)
df2_melted["Visit"] = df2_melted["Visit"].str.replace("时间点", "").astype(str)

# 合并
merged_df = pd.merge(df1_melted, df2_melted, on=["ID", "Visit"])

# 过滤 NaN 值
new_df2 = merged_df.dropna(subset=["HM_volume"])
new_df2 = new_df2.sort_values(by=["ID",'Visit'])

new_df2

         ID Visit  HM_volume                Date
0    sub001   随访0    69714.0 2016-12-12 23:32:54
160  sub001   随访1    74902.0 2016-12-13 05:19:00
320  sub001   随访2    70952.0 2016-12-18 09:09:24
480  sub001   随访3    62831.0 2016-12-23 16:47:09
640  sub001   随访4    44029.0 2016-12-30 14:35:12
..      ...   ...        ...                 ...
637  sub158   随访3     3647.0 2020-04-23 11:31:00
158  sub159   随访0    53154.0 2020-02-18 15:29:00
318  sub159   随访1   126642.0 2020-02-19 15:01:00
159  sub160   随访0    49019.0 2020-08-21 22:32:00
319  sub160   随访1   100470.0 2020-08-22 12:01:00

[593 rows x 4 columns]

In [6]:
# df1_melted

In [7]:
# df2_melted

In [8]:
# new_df2

In [9]:
import pandas as pd

# 假设你的DataFrame叫做df

# 划分数据
df0 = new_df2[new_df2['Visit'] == '随访0'].copy()
dfn = new_df2[new_df2['Visit'] != '随访0'].copy()

# 合并数据
dfn = dfn.merge(df0[['ID', 'Date', 'HM_volume']], on='ID', suffixes=('', '_0'))

# 计算时间差
dfn['Time_difference'] = (dfn['Date'] - dfn['Date_0']).dt.total_seconds() / 3600  # 转换为小时

# 计算体积差和百分比
dfn['Volume_difference'] = dfn['HM_volume'] - dfn['HM_volume_0']
dfn['Volume_percentage'] = (dfn['Volume_difference'] / dfn['HM_volume_0']) * 100


dfn

,ID,Visit,HM_volume,Date,Date_0,HM_volume_0,Time_difference,Volume_difference,Volume_percentage
0,sub001,随访1,74902.0,2016-12-13 05:19:00,2016-12-12 23:32:54,69714.0,5.768333,5188.0,7.441834
1,sub001,随访2,70952.0,2016-12-18 09:09:24,2016-12-12 23:32:54,69714.0,129.608333,1238.0,1.775827
2,sub001,随访3,62831.0,2016-12-23 16:47:09,2016-12-12 23:32:54,69714.0,257.237500,-6883.0,-9.873196
3,sub001,随访4,44029.0,2016-12-30 14:35:12,2016-12-12 23:32:54,69714.0,423.038333,-25685.0,-36.843389
4,sub002,随访1,52271.0,2016-04-07 09:16:27,2016-04-06 21:21:03,47500.0,11.923333,4771.0,10.044211
...,...,...,...,...,...,...,...,...,...
428,sub158,随访1,27071.0,2020-04-11 09:15:00,2020-04-10 17:40:00,27969.0,15.583333,-898.0,-3.210698
429,sub158,随访2,24119.0,2020-04-13 14:10:00,2020-04-10 17:40:00,27969.0,68.500000,-3850.0,-13.765240
430,sub158,随访3,3647.0,2020-04-23 11:31:00,2020-04-10 17:40:00,27969.0,305.850000,-24322.0,-86.960563
431,sub159,随访1,126642.0,2020-02-19 15:01:00,2020-02-18 15:29:00,53154.0,23.533333,73488.0,138.254882
432,sub160,随访1,100470.0,2020-08-22 12:01:00,2020-08-21 22:32:00,49019.0,13.483333,51451.0,104.961342

In [10]:
dfn2 = dfn.merge(new_df[['ID', '发病到首次影像检查时间间隔']], on='ID', how='left')
dfn2['total_time'] = dfn2['Time_difference'] + dfn2['发病到首次影像检查时间间隔']
dfn2['是否发生水肿'] = np.where((dfn2['Volume_difference'] >= 6000) | (dfn2['Volume_percentage'] >= 33), 1, 0)

dfn2

,ID,Visit,HM_volume,Date,Date_0,HM_volume_0,Time_difference,Volume_difference,Volume_percentage,发病到首次影像检查时间间隔,total_time,是否发生水肿
0,sub001,随访1,74902.0,2016-12-13 05:19:00,2016-12-12 23:32:54,69714.0,5.768333,5188.0,7.441834,2.5,8.268333,0
1,sub001,随访2,70952.0,2016-12-18 09:09:24,2016-12-12 23:32:54,69714.0,129.608333,1238.0,1.775827,2.5,132.108333,0
2,sub001,随访3,62831.0,2016-12-23 16:47:09,2016-12-12 23:32:54,69714.0,257.237500,-6883.0,-9.873196,2.5,259.737500,0
3,sub001,随访4,44029.0,2016-12-30 14:35:12,2016-12-12 23:32:54,69714.0,423.038333,-25685.0,-36.843389,2.5,425.538333,0
4,sub002,随访1,52271.0,2016-04-07 09:16:27,2016-04-06 21:21:03,47500.0,11.923333,4771.0,10.044211,3.0,14.923333,0
...,...,...,...,...,...,...,...,...,...,...,...,...
428,sub158,随访1,27071.0,2020-04-11 09:15:00,2020-04-10 17:40:00,27969.0,15.583333,-898.0,-3.210698,2.8,18.383333,0
429,sub158,随访2,24119.0,2020-04-13 14:10:00,2020-04-10 17:40:00,27969.0,68.500000,-3850.0,-13.765240,2.8,71.300000,0
430,sub158,随访3,3647.0,2020-04-23 11:31:00,2020-04-10 17:40:00,27969.0,305.850000,-24322.0,-86.960563,2.8,308.650000,0
431,sub159,随访1,126642.0,2020-02-19 15:01:00,2020-02-18 15:29:00,53154.0,23.533333,73488.0,138.254882,3.0,26.533333,1
432,sub160,随访1,100470.0,2020-08-22 12:01:00,2020-08-21 22:32:00,49019.0,13.483333,51451.0,104.961342,4.0,17.483333,1

In [11]:
dfn2.to_excel('./output/output_temp1.xlsx', index=False, engine='openpyxl')

In [12]:
# # 初始化空的DataFrame
# df_q1 = pd.DataFrame(columns=['ID', '48小时内是否发生血肿扩张事件'])

# # 筛选ID
# ids = dfn2['ID'].str.replace('sub', '').astype(int)
# filtered_df = dfn2[(ids >= 1) & (ids <= 100)]
# # 对于每个subn，检查条件
# unique_ids = filtered_df['ID'].unique()
# for uid in unique_ids:
#     subset = filtered_df[filtered_df['ID'] == uid]
#     if any((subset['是否发生水肿'] == 1) & (subset['total_time'] <= 48)):
#         df_q1 = df_q1.append({'ID': uid, '48小时内是否发生血肿扩张事件': 1}, ignore_index=True)
#     else:
#         df_q1 = df_q1.append({'ID': uid, '48小时内是否发生血肿扩张事件': 0}, ignore_index=True)

# df_q1

In [13]:
# 筛选ID在sub001到sub100范围内的数据
df_filtered = dfn2[dfn2['ID'].isin([f'sub{str(i).zfill(3)}' for i in range(1, 101)])]

# 为每个ID计算所需值
results = []

for _, group in df_filtered.groupby('ID'):
    event_happened = ((group['是否发生水肿'] == 1) & (group['total_time'] <= 48)).any()
    if event_happened:
        min_time = group[group['是否发生水肿'] == 1]['total_time'].min()
    else:
        min_time = None
    results.append([group['ID'].iloc[0], int(event_happened), min_time])

# 创建新的DataFrame
df_new = pd.DataFrame(results, columns=['ID', '48小时内是否发生血肿扩张事件', '满足条件的最小total_time'])

df_new

        ID  48小时内是否发生血肿扩张事件  满足条件的最小total_time
0   sub001                0                NaN
1   sub002                0                NaN
2   sub003                1           9.522500
3   sub004                0                NaN
4   sub005                1          26.467500
..     ...              ...                ...
95  sub096                0                NaN
96  sub097                0                NaN
97  sub098                1          42.756667
98  sub099                1          17.672778
99  sub100                0                NaN

[100 rows x 3 columns]

In [14]:
df_new.to_excel('./output/output_q1.xlsx', index=False, engine='openpyxl')